<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
    <h1>Teset gRCP</h1>
    <a href="http://localhost:8000/api/best-itinerary/?origin=Casa&destination=Rabat">test 1</a>
    <a href="http://localhost:8000/api/predict-traffic/?origin=Casa&destination=Rabat&datetime=2025-05-08T08:00">test 2</a>
    <a href="http://localhost:8000/api/list-transports/?zone=Casa">test 13</a>
</body>
</html>